.leaflet-container{
    width: 100%;
	height: 100vh;
	border: 2px solid #000;
	border-radius: 10px;
}

.leaflet-div-icon .small{
	background: green;
}

.medium{
	background: yellow;
	color: #000
}

.large{
	background: orange;
	color: #000
}

.huge{
	background: red;
	color: #000
}

.icon{
	font-size: 30px;
	color: blue;
}